@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------------Colores-------------------------*/
main {
  background-color: #DFF6FF;
}

/*----------------------------Nav Bar-----------------------*/
.navbar {
  padding: 0;
  background-color: black !important;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar span {
  color: rgb(19, 99, 223);
}
.navbar li {
  padding: 6px 0 6px 30px;
  font-size: 1em;
  margin-right: 2em;
}
.navbar a {
  text-decoration: none;
}

.navbar a:visited {
  text-decoration: none;
}

.navbar a:hover {
  color: #DFF6FF !important;
  background-color: rgb(19, 99, 223);
  transition: 0.3s;
  padding: 8px;
}

/*------------------------Index-----------------------*/
.portada {
  background-color: rgb(6, 40, 61);
  width: 100%;
  height: 95vh;
}

.containerIndex {
  width: 100%;
  height: 95vh;
  display: flex;
}

.containerIndexLeft {
  width: 50%;
  height: 95vh;
  padding: 10% 5% 0 5%;
}
.containerIndexLeft h2 {
  text-align: center;
  color: #DFF6FF;
}
.containerIndexLeft h2 span {
  color: rgb(19, 99, 223);
}
.containerIndexLeft p {
  text-align: center;
  color: #DFF6FF;
}
.containerIndexLeft button {
  margin-left: 40%;
  border: 1px solid rgb(6, 40, 61);
  font-size: 20px;
  padding: 5px;
  background-color: rgb(19, 99, 223);
  border-radius: 7px;
  color: #DFF6FF;
}

.containerIndexRight {
  width: 50%;
  height: 95vh;
}
.containerIndexRight div {
  width: 90%;
  margin: 10% auto;
  height: 89%;
}
.containerIndexRight img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/*----------------------------------------------------------------------Conocimientos------------------------------------------------*/
.containerClaro {
  background-color: #DFF6FF;
}
.containerClaro h2 {
  text-align: center;
  color: rgb(6, 40, 61);
}

.cardConocimientos {
  width: 40%;
  height: 30vh;
  padding: 1%;
  background-image: linear-gradient(180deg, #06283D 80%, #1363DF 120%);
  color: #DFF6FF;
  box-shadow: 5px 10px 10px #333;
}

.cardConocimientos:nth-child(even) {
  margin: 5% 0 5% 5%;
  overflow: auto;
}

.cardConocimientos:nth-child(odd) {
  margin: 5% 0 5% 50%;
  overflow: auto;
}

/*-----------------------------------------------Estudios------------------------------------------------*/
.containerOscuro {
  width: 100%;
  background-color: rgb(6, 40, 61);
}
.containerOscuro h3 {
  margin-bottom: 5%;
  padding-top: 1%;
  text-align: center;
  color: #DFF6FF;
}

.estudiosRow {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.estudiosRow div {
  width: 50%;
}

.cardEstudios {
  padding: 3em 1em 3em 1em;
}
.cardEstudios p {
  color: #DFF6FF;
  margin: 0;
}
.cardEstudios h4 {
  color: rgb(19, 99, 223);
}

.estudiosImg {
  object-fit: cover;
  max-width: 100%;
  margin-left: 40%;
  padding-top: 23%;
}

.estudiosRow div:nth-child(even) {
  border-left: 5px solid rgb(19, 99, 223);
}

.estudiosRow::before {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background-color: rgb(19, 99, 223);
  content: "";
  position: relative;
  top: 0;
  left: 27.2em;
}

/*------------------------------------------------------Experiencia Laboral---------------------------------------------------------*/
.containerExperiencia {
  width: 100%;
  height: 50vh;
  background-color: #DFF6FF;
}

/*# sourceMappingURL=estilos.css.map */
