@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*--------------------------Colores-------------------------*/

$color1:rgb(6, 40, 61);
$color2:#1363DF;
$color3:#DFF6FF;


main{
    background-color: $color3;
}


/*----------------------------Nav Bar-----------------------*/

.navbar {
    padding: 0;
    background-color: black !important;
    position: sticky;
    top: 0;
    z-index: 1;
    span{
        color: $color2;
    }
    li{
        padding: 6px 0 6px 30px;
        font-size: 1em;
        margin-right: 2em;
    }
    a{
        text-decoration: none;
    }
}

.navbar a:visited {
    text-decoration: none;
}

.navbar a:hover {
    color: $color3 !important;
    background-color: $color2;
    transition: 0.3s;
    padding: 8px;
}

/*------------------------Index-----------------------*/

.portada{
    background-color: $color1;
    width: 100%;
    height: 95vh;
}

.containerIndex{
    width: 100%;
    height: 95vh;
    display: flex;
}

.containerIndexLeft{
    width: 50%;
    height: 95vh;
    padding: 10% 5% 0 5%;
    h2{
        text-align: center;
        color: $color3;
        span{
            color: $color2;
        }
    }
    p{
        text-align: center;
        color: $color3;
    }
    button{
        margin-left: 40%;
        border: 1px solid $color1;
        font-size: 20px;
        padding: 5px;
        background-color: $color2;
        border-radius: 7px;
        color: $color3;
    }
}

.containerIndexRight{
    width: 50%;
    height: 95vh;
    div{
        width: 90%;
        margin: 10% auto;
        height: 89%;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}

/*----------------------------------------------------------------------Conocimientos------------------------------------------------*/

.containerClaro{
    background-color: $color3;
    h2{
        text-align: center;
        color: $color1;
    }
}

.cardConocimientos{
    width: 40%;
    height: 30vh;
    padding: 1%;
    background-image: linear-gradient(180deg, #06283D 80%, #1363DF 120%);
    color: $color3;
    box-shadow: 5px 10px 10px #333;
}

.cardConocimientos:nth-child(even){
    margin: 5% 0 5% 5%;
    overflow: auto;
}

.cardConocimientos:nth-child(odd){
    margin: 5% 0 5% 50%;
    overflow: auto;
}


/*-----------------------------------------------Estudios------------------------------------------------*/

.containerOscuro{
    width: 100%;
    background-color: $color1;
    h3{
        margin-bottom: 5%;
        padding-top: 1%;
        text-align: center;
        color: $color3;
    }
}

.estudiosRow{
    width: 48%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.cardEstudios{
    width: 50%;
    p{
        color: $color3;
        margin: 0;
    }
    h4{
        color: $color2;
    }
}

.estudiosImg{
    object-fit:cover;
    max-width: 100%;
}